<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
 
.book-background {
  background-image: url("https://img.freepik.com/free-vector/technology-background_23-2148119855.jpg?w=1060&t=st=1708178949~exp=1708179549~hmac=4a3252bffa4639f5d07a5659ec7980674acc5c1257374eba17789cf5d91f5f25");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 100px;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
 
h1 {
  margin-bottom: 20px;
}
 
form {
  display: flex;
  flex-direction: column;
}
 
label {
  font-weight: bold;
  margin-bottom: 5px;
}
 
input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
 
button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
 
 
 
p {
  margin-top: 20px;
}
 
a {
  color: #4CAF50;
  text-decoration: none;
}
 
a:hover {
  text-decoration: underline;
}
.back{
  color: #4CAF50;
  height:fit-content;
  width:fit-content;
 
}
.bt1{
  background-color:rgba(255, 255, 255, 0.9);
  color:#4CAF50;
  padding: 0%;
  font-size:16px;
  background: transparent;
}
 
  </style>
  <title>User Login</title>
</head>
<body>
  
  <div class="book-background">
   
    <div class="login-container">
  
      
        <h1>Welcome <%=name%></h1>

        <form action="/reset" method="get">
           
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form> 
   
     
      
     
    </div>
  </div>
</body>
</html>
























